body{
    background-color:#e8c5ff;
}
ul{
    list-style: nome;
    background-color: #975ab6;    
}
li{
    display: inline;
}
a{
    padding: 2px 10px;
    display: inline-block;
    color: #FFFCB5;
    text-decoration: none;

}
a:hover{
    color: #ff66c4;
}

    

h1{
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: #975ab6;
    
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 400px;
}
